*{
	margin: 0px;
	padding:0px;
	font-family: 
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;*/
}
/*navbar*/
.barra{
	background-color: #634F6C;
    height: 5vh;
    text-align: center;
}
.navbar-inverse{
    background-color: #042B38;
    border: none;
}
.logo{
	width: 32%;
    padding-bottom: 19px;
    margin-left: 40px;
    margin: auto;
}
.text-nav{
	margin-left: 430px;
}
/*seccion 01*/
.sec01{
	background: url('../img/demo.jpg') no-repeat ;
	background-size: cover; 

	padding-bottom: 50px;
	height: 80vh;
}
.title{
	margin-right: 400px;
    margin-top: 100px;
	color:#837390;
}
.logo_lila{
	width: 100%;
}
h1{
	display: none;
}
/*seccion 02*/
.sec02{
	background-color: #E4C3C3;
	width: 100%;
	height: 52vh;
}

.cv-photo{
    width: 39%;
    margin-top: 30px;
    margin-left: 153px;
}
.perfil{
	margin-left: 430px;
    margin-top: -170px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.perfil p{
	color: #fff;
	text-align: justify;
}


.title-2{
	text-align: center;
	font-weight: lighter;
	text-transform: uppercase;
	color: #fff;
}
.intereses li{
	color:#fff;
	list-style: none;
	display: inline-block;
	text-align: center;
	font-size: 14px;
}
.intereses i{
	font-size: 20px;
	padding: 10px;
}
/*secion 03*/
.sec03{
	color: #446793;
	text-align: center;
	height: 40vh;
}
.title-3{
	text-align: center;

}
.sec03 i{
	margin-top: 40px;
	color: #E4C3C3;
	font-size: 50px;
}

.sec03 p{
	font-size: 12px;
	color: grey;
}
/*seccion 04*/
.sec04{
	background-color: #446793;
	color: #fff;
	text-align: center;
}
/*seccion 05*/
.title-3{
	color:#E4C3C3;
}
.sec05{
	  background-color: #212121;
	  text-align: center;
}
.snip1580 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1580 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1580 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1580 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1580 h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 3px 0;
}
.snip1580 h5 {
  font-weight: 400;
  margin: 0;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1580 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1580:hover figcaption,
.snip1580.hover figcaption {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
}
.snip1580:hover h3,
.snip1580.hover h3,
.snip1580:hover h5,
.snip1580.hover h5 {
  color: #333;
}

/*footer*/
footer{
	background-color: #5A5F75;
	color: #fff;
	text-align: center;
}





